<!-- <header style="position: fixed; z-index: 100; width: 100%;">
            <div class="header-top-area d-none d-lg-block">
                <div class="container-fluid container-full-padding">
                    <div class="row align-items-center">
                        <div class="col-lg-6 d-none d-lg-block">
                            <div class="header-top-offer">
                                <p>Exclusive Game For Today ! Offer</p>
                                <span class="coming-time" data-countdown="2020/6/20"></span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="header-top-right">
                                <div class="header-social">
                                    <ul>
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    </ul>
                                </div>
                                <div class="header-top-action">
                                    <ul>
                                        <li>
                                            <div class="header-top-mail">
                                                <p><span>|</span><i class="far fa-envelope"></i><a href="#"><span class="__cf_email__" data-cfemail="cea7a0a8a18ea9abada1a7a0a8a1e0ada1a3">[email&#160;protected]</span></a></p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="header-user-login">
                                                <a href="http://localhost/gstore/login"><i class="fas fa-user"></i>Login</a>
                                            </div>
											<div class="header-user-login">
                                                <a href="http://localhost/gstore/register"><i class="fas fa-user"></i>Sign up</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="sticky-header" class="main-header">
                <div class="container-fluid container-full-padding">
                    <div class="row">
                        <div class="col-12">
                            <div class="main-menu">
                                <nav>
                                    <div class="logo">
                                        <a href="http://localhost/gstore/home"><img src="images/logo/logo3.png" alt="Logo"></a>
                                    </div>
                                    <div id="mobile-menu" class="navbar-wrap d-none d-lg-flex">
                                        <ul>
                                            <li class="show"><a href="http://localhost/gstore/home">Home</a>

                                            </li>
                                            <li><a href="#">Genre</a>
                                                <ul class="submenu">
                                                    <li><a href="#">Adventure</a></li>
                                                    <li><a href="#">Moba</a></li>
                                                    <li><a href="#">FPS</a></li>
													<li><a href="#">RPG</a></li>
													<li><a href="#">Puzzle</a></li>
                                                </ul>
                                            </li>
                                            
                                            <li><a href="contact.html">contact</a></li>
                                        </ul>
                                    </div>
                                    <div class="header-action">
                                        <ul>
                                            
                                            <li class="header-search"><a href="#" data-toggle="modal" data-target="#search-modal"><i class="fas fa-search"></i></a></li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                            <div class="mobile-menu"></div>
                        </div>
						
                        Modal Search 
                        <div class="modal fade" id="search-modal" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <form>
                                        <input type="text" placeholder="Search here...">
                                        <button><i class="fa fa-search"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>      -->